<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Witamy! <br> Rozgość się u nas!</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><img src='assets\img\diamond_icon.png' alt="diamond"
                            class="rounded mx-auto d-block"></div>
                    <h3>Najwyższy komfort!</h3>
                    <p class="lead mb-0">Tutaj jest kilka zdań o tym, że jesteśmy najlepsi na rynku!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><img src='assets\img\cash_icon.png' alt="diamond"
                            class="rounded mx-auto d-block"></div>
                    <h3>Konkurencyjne ceny!</h3>
                    <p class="lead mb-0">Ceny są na tyle konkurencyjne, że każda osoba znajdzie coś dla siebie!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><img src='assets\img\lider_icon.png' alt="diamond"
                            class="rounded mx-auto d-block"></div>
                    <h3>Liderzy na rynku!</h3>
                    <p class="lead mb-0">Jesteśmy liderami na polskim rynku hotelowym!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div *ngFor="let room of rooms;let i = index" class="row g-0">
            <div class="col-lg-6 text-white showcase-img" [class.order-lg-2]="i%2 == 0"
                [style.background-image]="'url(' + room.mainPhoto +')'"></div>
            <div class="col-lg-6 my-auto showcase-text text-uppercase" [class.order-lg-1]="i%2 == 0">
                <a [routerLink]="['/rooms/', room.id]">
                    <h2>{{ room.name }}</h2>
                </a>
                <!-- <p class="lead mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam quaerat
                    recusandae debitis alias, magnam at praesentium. Unde sapiente at asperiores dignissimos
                    voluptas nesciunt, velit quis maiores aspernatur iste, dicta in.</p> -->
            </div>
        </div>
    </div>
</section>
<hr class="vr">
<!-- Call to Action-->
<section class="call-to-action text-white text-center" id="signup">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <h2 class="mb-4">Zapisz się do naszego Newslettera!</h2>
                <!-- Signup form-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form class="form-subscribe" id="contactFormFooter" data-sb-form-api-token="API_TOKEN">
                    <!-- Email address input-->
                    <div class="row">
                        <div class="col">
                            <input class="form-control form-control-lg" id="emailAddressBelow" type="email"
                                placeholder="Email Address" data-sb-validations="required,email" />
                            <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">
                                Adres email jest wymagany.</div>
                            <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">
                                Adres email jest nieprawidłowy.</div>
                        </div>
                        <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton"
                                type="submit">Submit</button></div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Wypełniono formularz!</div>
                            <p>Najnowsze nowości dostaniesz na swoją skrzynkę email</p>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Error sending message!</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>