<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Projekt systemu rezerwacji w hotelu</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets\img\favicon.png" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="#" alt="TUTAJ JEST LOGO NASZEGO HOTELU" height="36">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Strona główna</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Nasze pokoje</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Kontakt</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Nasze lokalizacje
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Warszawa</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Bydgoszcz</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Witamy! <br> Rozgość się u nas!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-8">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="assets/img/room_1.png" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/room_2.png" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/room_3.png" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only" >Poprzedni</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Następny</span>
                </a>

                <p>
                  <h5>Tutaj może być dłuższy opis pokoju czy coś </h5>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam non commodi voluptatibus? Accusantium, reiciendis quod obcaecati voluptatibus molestias recusandae, ut totam atque, optio facilis sed iste. Illum ab rem eum voluptate deleniti quos eligendi cumque voluptas facere quisquam, distinctio consequuntur, accusamus eveniet molestiae delectus! Iste sequi mollitia repellat quo laboriosam ad ex voluptatibus molestias a similique consectetur quae doloremque autem provident, recusandae suscipit esse maiores, quidem, dignissimos cupiditate quia quos minima aspernatur. Nam dolore hic debitis, iusto fugit quis voluptate harum atque, odit tempora voluptas magnam corrupti rem similique mollitia. Ut, iure corrupti possimus pariatur deserunt similique? Quia, deleniti.
                </p>
              </div>



            </div>
            <div class="col-4">
              <p> Pokój hotelowy</p>
              <p> Tutaj mogą być informacje odnośnie tego pokoju</p>
              <p> Jakaś cena czy inne pierdoły</p>

              <form>
                <h5>Sprawdź dostępnośc</h5>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Adres Email</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Ilość osób</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect2">Wybierz udogodnienia</label>
                  <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>Brak</option>
                    <option>Pies</option>
                    <option>Ciepła woda</option>
                    <option>Ubikacja</option>
                    <option>Wszystkie dostępne opcje</option>
                    <option>Dodatkowy klucz do pokoju</option>
                  </select>
                </div>
                <br>
                <div class="form-group">
                  <p> Data zameldowania</p>
                  <input class="form-control" id="depart" type="date" placeholder="Data przyjazdu" />
                </div>
                <br>
                <div class="form-group">
                  <p> Data wymeldowania</p>
                  <input class="form-control" id="return" type="date" placeholder="Data wyjazdu" />
                </div>

                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Specjalne uwagi</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                
                <br>
                <div class="text-center text-md-left">
                  <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Wyślij </a>
                </div>

              </form>

            </div>
          </div>
        </div>
        <br>
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">O nas</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Kontakt</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Regulamin</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Polityka prywatności</a></li>
                        </ul>   
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
