<div class="container my-5">
    <div *ngIf="roomDetails" class="row">
        <div class="col-8">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div *ngFor="let img of roomDetails['roomPhotos']; first as isFirst" [class.active]="isFirst"
                        class="carousel-item">
                        <img class="d-block w-100" [src]="apiUrl + img.name" alt="slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                    data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Poprzedni</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                    data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Następny</span>
                </a>
                <h5>Szczegółowy opis pokoju</h5>
                <p>{{ roomDetails.description }}</p>
                <div>numer pokoju: {{ roomDetails.room_no }}</div>
                <div>piętro: {{ roomDetails.floor_no }}</div>
                <div>powierzchnia: {{ roomDetails.size }}m2</div>
                <div>liczba łóżek: {{ roomDetails.beds }}</div>
                <div>śniadanie: {{ roomDetails.breakfast ? 'tak' : 'nie' }}</div>
                <div>balkon: {{ roomDetails.balcony ? 'tak' : 'nie' }}</div>
                <div>zwierzęta: {{ roomDetails.pets_allowed ? 'tak' : 'nie' }}</div>
            </div>
        </div>
        <div class="col-4">
            <h5>{{ roomDetails.name }}</h5>
            <h3>{{ roomDetails.price | currency: 'PLN ' }}</h3>
            <form [formGroup]="newReservationForm">
                <h5>Sprawdź dostępność</h5>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Adres Email*</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com" formControlName="email" email="true">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Ilość osób*</label>
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="numberOfPeople">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Wybierz udogodnienia*</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2" formControlName="options">
                        <option>Brak</option>
                        <option>Zwierzęta</option>
                        <option>Śniadanie</option>
                        <option>Wszystkie dostępne opcje</option>
                        <option>Dodatkowy klucz do pokoju</option>
                    </select>
                </div>
                <br>
                <div *ngIf="dateError" style="color:red;">W tym terminie pokój nie jest juz dostępny</div>
                <div class="form-group">
                    <p> Data zameldowania*</p>
                    <mat-form-field class="form-control">
                        <input matInput [min]="minDate" [matDatepicker]="departDate" [matDatepickerFilter]="myFilter"
                            formControlName="depart" placeholder="Data przyjazdu">
                        <mat-datepicker-toggle matSuffix [for]="departDate"></mat-datepicker-toggle>
                        <mat-datepicker #departDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <br>
                <div class="form-group">
                    <p> Data wymeldowania*</p>
                    <mat-form-field class="form-control">
                        <input matInput [min]="minDate" [matDatepicker]="returnDate" [matDatepickerFilter]="myFilter"
                            formControlName="return" placeholder="Data wyjazdu">
                        <mat-datepicker-toggle matSuffix [for]="returnDate"></mat-datepicker-toggle>
                        <mat-datepicker #returnDate></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Specjalne uwagi</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        formControlName="message"></textarea>
                </div>
                <br>
                <div class="form-group">
                    <mat-checkbox formControlName="paid">Opłacono</mat-checkbox>
                </div>

                <br>
                <div class="text-center text-md-left">
                    <button class="btn btn-primary" (click)="createReservation()"
                        [disabled]="newReservationForm.invalid">Wyślij </button>
                    <div *ngIf="successMsg" style="color:green;">Rezerwacja przebiegła pomyślnie</div>
                    <div *ngIf="errorMsg" style="color:red;">Coś poszło nie tak. Spróbuj jeszcze raz.</div>
                </div>

            </form>

        </div>
    </div>
</div>